@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe Project</h1>
    <p class="lead">Search For Recipes By Ingredients.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Ingredients")"><span>Find Recipes</span></a>
    <p class="lead">Create Your Own Recipe.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("CreateName","Recipes")"><span>Create Recipe</span></a>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <h2>Getting started</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus ut faucibus pulvinar elementum integer enim. Vulputate mi sit amet mauris commodo. Elit ut aliquam purus sit amet luctus venenatis.
            </p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <h2>Get more libraries</h2>
            <p>Aliquam ultrices sagittis orci a scelerisque. Volutpat sed cras ornare arcu dui vivamus arcu. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <h2>Web Hosting</h2>
            <p>Ullamcorper a lacus vestibulum sed arcu non odio. Mauris nunc congue nisi vitae suscipit tellus. Tincidunt id aliquet risus feugiat in ante metus dictum.</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <h2>Get more libraries</h2>
            <p>Dolor purus non enim praesent elementum facilisis leo vel. Leo duis ut diam quam nulla. Mauris cursus mattis molestie a iaculis at erat.</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <h2>Web Hosting</h2>
            <p>Adipiscing elit pellentesque habitant morbi tristique senectus et netus et. Nibh ipsum consequat nisl vel pretium lectus.</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
